<div class="index-view">
  <h1>All Drivers </h1>
  <button class="index-newbtn"><%= link_to ' + New Driver', new_driver_path %></button>
  <br>
  <br>
  <div class="table-wrapper-scroll-y my-custom-scrollbar index_table">
    <table class="table table-bordered table-striped mb-0">
      <tr>
        <th scope="col"> ID </th>
        <th scope="col"> Name </th>
        <th scope="col"> Vin </th>
        <th scope="col"> Status</th>
      </tr>

      <%@drivers.each do |driver|%>
        <tr>
          <th scope="row"> <%= driver.id %> </th>
          <td> <%= link_to driver.name, driver_path(driver.id) %> </td>
          <td> <%= driver.vin %> </td>
          <td> <%= driver.available ? "Available" : "Unavailable" %> </td>
        </tr>
      <%end%>
    </table>
  </div>
</div>
