<h1>Rideshare Drivers</h1>
<article class="driver-list">
  <section class="row pagination-header">
    <div class="large-12 small-12 columns">
      <%= paginate @drivers %>
    </div>
  </section>
    <% @drivers.each do |driver| %>

      <section class="driver row">
        <aside  class="small-2 large-2 columns">
          <%= image_tag "http://www.fillmurray.com/50/50", alt: driver.name, class: "driver"%>
        </aside>
        <section class="driver-name small-2 large-6 columns">
          <h2>
            <%= link_to driver.name, driver_path(driver.id) %>
          </h2>
        </section>
        <section class="driver-rating small-2 large-2 columns">
          <h3>
            Average Rating: <%= driver.average_rating %>
          </h3>
        </section>
        <section class="driver-links small-2 large-2 columns">
          <h3>
            <%= link_to "Edit", edit_driver_path(driver.id) %>
            <%= link_to "Delete", driver_path(driver.id), method: :delete %>
          </h3>
        </section>
      </section>
    <% end %>
</article>
